## @vtlvariable name="queryModel" type="dev.vality.fraudbusters.fraud.model.DgraphAggregationQueryModel"
query all() {
    aggregates(func: type($queryModel.rootType)) $queryModel.rootFilter @normalize {
        count : count(uid)
        #foreach ($innerCondition in $queryModel.innerTypesFilters)
        $innerCondition
        #end
    }
}
